#wrapper{

              display: grid;

              grid-template-areas:

                 

"innergrid0 innergrid0 innergrid0"

                  "header header header"

"innergrid1 innergrid1 innergrid1"

                  "nav nav nav"

"innergrid2 innergrid2 innergrid2"

                  "content content content"

                  "innergrid3 innergrid3 innergrid3"

 "footer footer footer"

              }

 #header, #nav, #content,#footer, #home, #contactme, #images, #aboutme, #copy, #phone, #overview{

    border: 1px solid;}

 

#header{

 

     grid-area: header;

 

    background-color: burlywood

}

 

#innergrid0{

    display: grid;

    grid-area: innergrid2;

    text-align: left;

    grid-template-areas: "logo profile";

    padding: 2px;

   

   

   

}

 

 #nav{

 

    grid-area: nav;

    background-color: #2F4E26;

 

}

 

 #innergrid1{

display: grid;

    grid-area: innergrid1;

    background-color: burlywood;

     text-align: center;

      grid-template-areas: "Anmoljot Singh, HOME, CONTACT ME, IMAGES, ABOUT ME";

     padding-bottom: 5px;

         padding-top: 5px;

     padding-left: 5px;

     padding-right: 5px;

     grid-row-gap: 5px;

     

         

         

 

}

#content{

 

    grid-area: content;

 

    background-color: burlywood

}

 

#innergrid2{

display: grid;

    grid-area: innergrid2;

    background-color:burlywood;

     text-align: center;

      grid-template-areas: "overview mission";

    padding-left: 30px;

    padding-right: 30px;

     padding-top: 10px;

    padding-bottom: 10px

}

#footer{

 

    grid-area: footer;

    background-color:burlywood

}

 

#innergrid3{

display: grid;

    grid-area: innergrid3;

    background-color: burlywood;

      grid-template-areas: "contact phone copy";

